main {
  flex-grow: 1;
}

.splitter {
}

.height-adjust {
  height: calc(100vh - 6rem);
}

#separator {
  cursor: col-resize;
  background-color: #aaa;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='black'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 100%;

  /* Prevent the browser's built-in drag from interfering */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* clears the ‘X’ from Internet Explorer */

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome in the Search*/
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button, 
input[type="search"]::-webkit-search-results-button, 
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


/* changes the detail arrow to a animated chevron*/
/* show Arrow in detail component */
details>summary::before {
  content: url(../../assets/chevron-right.svg);
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  transition: transform 0.3s ease;
  opacity: 0.5;
  fill: white;
}

details[open]>summary::before {
  transform: rotate(90deg);
}

summary {list-style: none}

summary::-webkit-details-marker {display: none;}

details>summary::marker {
  display: none;
}
#tabsBackground{
  background-color: #1E1E1E;
  height: 5%;
}
#linkedTd{
  background-color: #1E1E1E ;
  width: 50%;
}
#link-href{
  width: 75%;
}
#editor{
 height: 95.1%;
}
