html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    /* overflow-y: hidden; */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

summary::-webkit-details-marker {
  color: #ffffff;
  font-size: 18px;
}

summary::-webkit-details-marker:hover {
  color: #005a9c;
}