name: code-formatting

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  run-prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "20"
      - run: yarn install
      - run: yarn prettier --check .
