name: unit-tests

on:
  pull_request:
    branches:
      - "**"
    types: [opened, synchronize, reopened]

jobs:
  run-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "20"
      - run: yarn install
      - run: yarn test
